* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

#s1 {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  height: 70px;
  text-align: center;
  background-color: rgb(172, 14, 172);
  font-size: 20px;
}
.main {
  height: 70vh;
  background-repeat: no-repeat;
  margin: 5%;
  transform: translate(100%, -2%);
  width: 400px;

  background: rgba(255, 255, 255, 0.2);
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.main h1 {
  text-align: center;
  padding: 25px 0px 10px 0px;
  color: rgb(146, 5, 146);
  font-size: 40px;
  font-weight: bolder;
  border-bottom: 0.5px solid silver;
  
}
.main form {
  padding: 0px 10px;
  box-sizing: border-box;
}

/* form.text1 {
  position: relative;
  border-bottom: 1px solid silver;
  margin: 90px 0px 30px 0px;
} */
/* form.text {
  position: relative;
  border-bottom: 1px solid silver;
  margin: 30px 0px 30px 30px;
  margin-top: 9%;
} */
.text input {
  width: 80%;
  padding: 20px 5px 12px 11px;
  margin-top: 2%;
  height: 7vh;
  font-size: 16px;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid silver;
  color: rgb(0, 0, 0);
  margin-left: 35px;
}
.text1 input {
  padding: 0px 5px 0px 10px;
  height: 6vh;
  font-size: 16px;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid silver;
  width: 80%;
  margin-left: 35px;
  color: rgb(0, 0, 0);
  margin-top: 6%;
}
.text label {
  top: 50%;
  left: 5px;
  transform: translateY(30%);
  pointer-events: none;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
}
.text1 label {
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10px;
}

.sign1 a {
  text-decoration: none;
  margin: 20% 0% 0% 0%;
  color: rgb(146, 5, 146);
  font-weight: bold;
}
.sign1 {
  margin: 10% 0% 0% 23%;
  font-size: 18px;
}

.sign {
  margin-top: 3%;
  margin-left: 10%;
  color: rgb(71, 70, 70);
  font-size: 15px;
}
.sign a{
    text-decoration: none;
}
.bt {
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border: none;
  height: 6vh;
  margin: 35px 0px 0px 29%;
  width: 150px;
  font-size: 18px;
  text-align: center;
}
.bt:hover {
  width: 300px;
  transition: 0.5s;
  margin: 35px -40px 0px 40px;
  text-align: center;
  background-color: rgb(172, 14, 172);
}

.div1 {
  width: 30%;
  text-transform: uppercase;
  /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  padding-right: 250px;
  color: aliceblue;
  font-weight: bold;
}
.div2 a {
  text-decoration: none;
  color: black;
  font-weight: 900;
  font-size: larger;
  text-transform: uppercase;
  /* font-family: ; */
  color: aliceblue;
  font-weight: bold;
}
.div2 {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}
.div2 a:hover {
  color: rgb(234, 0, 255);
}
#s2 {
  background: linear-gradient(120deg, #ce5c9f, #ac57ce);
  overflow: hidden;
}
#img1 {
  width: 50px;
  height: 40px;
  margin-top: -100px;
  margin-bottom: 17px;
  margin-left: 120px;
}
